operator:
  image:
    registry: quay.io
    repository: wolkenzentrale/awx-operator
    tag: aed406c
    pullPolicy: IfNotPresent
  
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  
  reconciliation:
    period: 60  # in seconds
  
  logs:
    level: info

# High availability settings for production
replicas: 2
podAntiAffinity: true

# Namespace settings
namespace: awx-operator-system
createNamespace: true

# ArgoCD application settings
argocd:
  project: default
  server: https://kubernetes.default.svc
  automated:
    prune: true
    selfHeal: true 